@import "tailwindcss";

  /* Custom CSS to blur non-centered slides */
  .swiper-slide:not(.swiper-slide-active) .swiper-slide-image {
    filter: blur(4px); 
    opacity: 0.7; 
    width: 300px;

  }

  .swiper-slide-active .swiper-slide-image {
    filter: none; 
    opacity: 1; 
    width: 400px;
    height: 250px;
  }
